h6{
  margin-bottom: 0;
}
label {
  font-size: 19px;
  font-weight: 600;
}
nav a {
  font-size: 17px;
  
}
.ellipse{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

a {
text-decoration: none;
color: #000;
}
.checkbox{
  padding: 20px; border: 1px solid rgb(209, 209, 209); border-radius: 10px; margin:20px 0;
}

.qCard{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.pill-button{
  background-color: #235784;
  border: none;
  color: white;
  border-radius:10px ;
  padding: 16px 22px;
  box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
  text-align: center;
  font-weight: bold;
  transition: width 2s;
  /* width: 100%; */
  
}

.pill-button-alternate{
background-color: #f2f2f2;
border: none;
color: #235784;
border-radius:10px ;
padding: 16px 22px;
box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
text-align: center;
font-weight: bold;
transition: width 2s;
/* width: 100%; */

}

.inputHead{
  border: none;
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  background-color: transparent;
  border-bottom:1px solid grey ;
}

.inputDescription{
  border: none;
  font-size: 15px;
  width: 100%;
  margin-top: 10%;
  background-color: transparent;
  border-bottom:1px solid grey ;
}

.answerText{
  margin-bottom: 0;
  margin-left: 10px;
  cursor: pointer;
}

.answerCard{
  display: flex;
  padding: 20px; 
  margin:10px;
  border: 1px solid rgb(209, 209, 209); 
  border-radius: 10px; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;   
  cursor: pointer;
}
.link{
  color:inherit;
  text-decoration: none;
}

.card{
    border-radius: 50px; 
    display: flex;
    padding: 30px; 
    margin:10px;
    border: 1px solid rgb(209, 209, 209); 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;   
    cursor: pointer;
}

.button-holder{
  display: flex;
  justify-content: space-between;
}
/* 
.pill-button {
  background-color: #ca181e;
  font: 'Poppins',sans-serif;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 16px 22px;
  box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
  text-align: center;
  font-weight: bold;
  transition: width 2s;
  width: fit-content;
} */
.card {
  padding: 0;
  border: none;
}
.pill {
  background-color: #235784;
  font: 'Poppins',sans-serif;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 16px 25px;
  margin: 2vh 0;
  box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
  text-align: center;
  font-weight: bold;
  transition: width 2s;
  width: fit-content;
}
.activeRoom{
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.305);
  color: blue;
  /* width: 50px;
  height: 50px; */
  align-items: center;
}

.inactiveRoom{
  background-color: rgba(255, 255, 255, 0.305);
  color: rgb(0, 0, 0);
  padding: 20px;
  align-items: center;
}


/* .pill-button:hover {
  background-color: #ca181e;
  font: 'Poppins',sans-serif;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 16px 22px;
  box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
  text-align: center;
  font-weight: bold;
  transition: width 2s;
  width: fit-content;
} */


.site-footer
{
  background-color:#235784;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#fff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
  font-weight: 500;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#546a40;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background:#fff;
  /* color: #fff; */
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background:#243c4f;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#ff4a17
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}
.content h2 {
  color: #243c4f;
  margin-bottom: 40px; 
}
.content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
}
.content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}
.content .btn {
  min-height: 50px; 
  border-radius:5px;
  background: #243c4f;
  color: #fff;
  font-weight:600;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c9e3f5;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fdf3f3;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fdf3f3;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ca181e;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ca181e;
}
  
  