{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body %}

<div class="container">
<div class="info-block" style="margin-top: 5vh;">
    <div class="flexBar" style="display:flex; justify-content: space-between;">
        <h4 onclick="openNav()">Dashboard</h4>
        <a href="http://sandbox.prestoghana.com/dashboard">
        <a href="http://sandbox.prestoghana.com/dashboard">
            <button class="pill-button"type="submit">Financials</button>
        </a>
    </div>
<br>
<div class="row">
    <!-- <div class="col-md-3 col-12">
        <a style="text-decoration: none; color: black;" href="#">
            <div data-aos="fade-up" class="card">
                <h6>Available Balance</h6>
                <h2 style="font-weight: 700;">GHS{{balance}}</h2>
                <h6 class="text-muted">{{successfulTransaction}} Transactions</h6>
            </div>
        </a>
    </div>  -->
    
    <div class="col-md-4 col-12">
        <a class="link" href="{{url_for("allblocks")}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Total Amount Outstanding</h6>
                <h2 style="font-weight: 700;">GHS {{3200}}</h2>
                <h6>Total Amount Outstanding</h6>
                <h2 style="font-weight: 700;">GHS {{3200}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>
    
    <div class="col-md-4 col-12">
        <a class="link"  href="{{url_for("allblocks", id="3")}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Total Amount Paid</h6>
                <h2 style="font-weight: 700;">GHS {{4800}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>
    
    <div class="col-md-4 col-6">
        <a class="link" href="{{url_for("allblocks", id="2")}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Total Amount Due</h6>
                <h2 style="font-weight: 700;">GHS {{5800}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-6">
        <a class="link" href="{{url_for("allblocks", id="2")}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Occupancy Rate</h6>
                <h2 style="font-weight: 700;">{{20}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-6">
        <a class="link" href="{{url_for("allblocks", id="2")}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Beds Available</h6>
                <h2 style="font-weight: 700;">{{60}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-6">
        <a class="link" href="{{url_for("allblocks", id="2")}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Rooms Available</h6>
                <h2 style="font-weight: 700;">{{25}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>

   

    <!-- <div class="col-md-3 col-6">
        <a class="link" href="#">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Master List</h6>
                <h2 style="font-weight: 700;">{{tenants}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div> -->

</div>
</div>



    <!-- <div id="dataObject">{{dataArray}}</div> -->
</div>

<script>
    function showModal(params) {
        console.log("MODAL IS SHOWING!")
    }
</script>


<script>
    // yValueData = document.getElementById("dataObject").innerText.split(",")
    // var xValues = ["Mon","Tue","Wed","Thur","Fri","Sat","Sun"];
    var xValues = {{dates|safe}}
    var yValues = {{amount|safe}}
    var maxValue = {{maxAmount|safe}}
    var minValue = {{minAmount|safe}}
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "blue",
          borderWidth:7,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        responsive:true,
        scales: {
          yAxes: [{ticks: {min:0, max: maxValue }}],
        },
      }
    });
    </script>


<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'X');
    data.addColumn('number', 'Web');
    data.addColumn('number', 'Ussd');

    dataArray = 

    data.addRows([
      [0, 0, 0],    [1, 10, 5],   [2, 23, 15],  [3, 17, 9],   [4, 18, 10],  [5, 9, 5],
      [6, 11, 3],   [7, 27, 19]
    ]);

    var options = {
      hAxis: {
        title: 'Days'
      },
      vAxis: {
        title: 'Amount'
      },
      series: {
        1: {curveType: 'function'}
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script> -->



{% endblock %}
