{% extends "layout.html" %}

{% block body %}


    <section style="padding: 5vh; height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="font-size: 35px Mulish sans,serif; color: #040b11; padding: 10vh 0 20px 0;">
                        Pronto Hostel - amazing hostel for all Central university student
                    </h1>
                    <p style="font-size: 20px OpenSans, sans-serif; border-left: 3px solid #243c4f; padding-left: 10px;">
                        Welcome to Pronto Hostel.We offer affordable and comfortable living space for students.We have all amenities you need to make your stay throughout your schooldays in the university.Check out our rooms and facilities to find your perfect fits.
                    </p>
                    <a href="#rooms">
                        <button class="pill">View all Rooms</button>
                    </a>
                    <!-- <div class="row d-sm-flex flex-wrap flex-lg-nowrap align-items-lg-center">
                        <div class="col-md-4">
                            <div class="pronto-group">
                              <label for="">Check In</label>
                              <input type="date"
                                class="pronto-control" name="" id="" aria-describedby="helpId" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pronto-group">
                              <label for="">Check In</label>
                              <input type="date"
                                class="pronto-control" name="" id="" aria-describedby="helpId" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="pill-button" type="submit">Book Now</button>
                        </div>


                    </div> -->
                </div>
                <div class="col-md-7 d-none d-xl-block">
                    <img src="../static/img/hero.jpg" alt="" width="100%">
                </div>
            </div>
        </div>
    </section>

    <!-- <section style="margin-bottom: 3vh;">
        <div class="container">
            
            <h2 style="font-size: 35px Mulish sans,serif; color: #040b11; padding: 2vh 0 20px 0;">
                Stages of booking a room
            </h2>
               

            <div class="row">
                <div class="col-md-4 flex" style="margin-bottom: 15px;">
                    <div style="width: 60px; height: 60px; background: #ddeaf6; margin-right: 10px; justify-content: center; border-radius: 8px; font-size: 30px;"><i class='bx bx-phone-call bx-md' style="padding: 20px 0 0 21px;"></i></div>
                        <div class="main d-flex flex-column">
                            <h6>Phone</h6>
                            <a href="" style="text-decoration: none; color: #040b11;">0592033701</a>
                        </div>
                </div>
                <div class="col-md-4 d-flex" style="margin-bottom: 15px;">
                    <i class='bx bx-wifi bx-lg' style="width: 60px; height: 60px; background: #ddeaf6; justify-content: center; border-radius: 8px; font-size: 30px; padding: 10px 0;"></i>
                    <h5 style="padding: 0 10px;">Free available high speed WiFi</h5>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    
                </div>
                
            </div>
               
        </div>
    </section> -->

    <section id="rooms" style="margin-top: 4vh; background: #fbf9f9; padding: 5px 0;">
        <div class="container">
            <div class="d-flex justify-content-between align-items-justify">
                <h2 style="margin: 3vh 0;">Hostel Rooms</h2>
                <!-- <button class="pill" style="margin-left: 10px;">View all rooms</button> -->
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="50">
                <div class="swiper-wrapper">
      
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="card" style="padding-bottom: 0;">
                            <img src="../static/img/hero.jpg" class="card-img-top" alt="..." wi>
                            <div class="card-body" style="margin: 0 1vw;">
                              <h4 class="card-title" style="font-size: 22px Mulish, sans-serif; color: #040b11;">Single Suite Room</h4>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-user'></i> 1 Sleeps
                                </div>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-hotel' style="padding-left: 3px;"></i> 1 bed
                                </div>
                                <div class="">      
                                    <a href="{{url_for("details")}}" style="text-decoration: none;">
                                        <button style="padding: 10px 15px;" class="pill">Book Now <i class='bx bx-right-arrow-alt' style="padding-left: 3px;"></i></button>
                                    </a>
                                </div>
                                
                            </div>       
                        </div>
                    </div>
                  </div><!-- End testimonial item -->
                  
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="card" style="padding: 0; margin: 0;">
                            <img src="../static/img/double.jpg" class="card-img-top" alt="...">
                            <div class="card-body" style="margin: 0 1vw;">
                              <h4 class="card-title" style="font-size: 22px Mulish, sans-serif; color: #040b11;">Double Suite Room</h4>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-user'></i> 2 Sleeps
                                </div>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-hotel' style="padding-left: 3px;"></i> 2 beds
                                </div>
                                <div class="">      
                                    <a href="{{url_for('details1')}}" style="text-decoration: none;">
                                        <button style="padding: 10px 15px;" class="pill">Book Now <i class='bx bx-right-arrow-alt' style="padding-left: 3px;"></i></button>
                                    </a>
                                </div>
                                
                            </div>       
                        </div>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="card">
                            <img src="../static/img/triple.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title" style="font-size: 22px Mulish, sans-serif; padding-top: 4px; color: #040b11;">Triple Suite Room</h4>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-user'></i> 3 Sleeps
                                </div>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-hotel' style="padding-left: 3px;"></i> 3 beds
                                </div>
                                <div class="">      
                                    <a href="{{url_for('details2')}}" style="text-decoration: none;">
                                        <button style="padding: 10px 15px;" class="pill">Book Now <i class='bx bx-right-arrow-alt' style="padding-left: 3px;"></i></button>
                                    </a>
                                </div>
                                
                            </div>       
                        </div>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="card">
                            <img src="../static/img/four.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title" style="font-size: 22px Mulish, sans-serif; padding-top: 4px; color: #040b11;">Four Suite Room</h4>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-user'></i> 4 Sleeps
                                </div>
                                <div class="d-inline-flex align-items-center">
                                    <i class='bx bx-hotel' style="padding-left: 3px;"></i> 2 Bunk bed
                                </div>
                                <div class="">      
                                    <a href="{{url_for('details3')}}" style="text-decoration: none;">
                                        <button style="padding: 10px 15px;" class="pill">Book Now <i class='bx bx-right-arrow-alt' style="padding-left: 3px;"></i></button>
                                    </a>
                                </div>
                                
                            </div>       
                        </div>
                    </div>
                  </div><!-- End testimonial item -->

                  

                  
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section style="padding: 5vh; height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="font-size: 35px Mulish sans,serif; color: #040b11; padding: 5vh 0 20px 0;">
                        We have everything you need
                    </h1>
                    <p style="font-size: 20px OpenSans, sans-serif; border-left: 3px solid #243c4f; padding-left: 10px;">
                        Check out our generall amenities in the hostel available for all students accommdated in the hostels.

                    <br>
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column flex-sm-row align-items-center" style="padding: 18px; color: #243c4f;">
                            <i class='bx bx-wifi bx-lg'></i>
                            <h5 style="padding: 0 10px;">Free available high speed WiFi</h5>
                        </div>
                        <div class="col-md-6 d-flex flex-column flex-sm-row align-items-center" style="padding: 15px; color: #243c4f;"">
                            <i class='bx bxs-map bx-lg'></i>
                            <h5  style="padding: 0 10px;">Covenient Learning room  for all students</h5>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column flex-sm-row align-items-center" style="padding: 15px; color: #243c4f;""> 
                            <i class='bx bxs-shopping-bag bx-lg' ></i>
                            <h5  style="padding: 0 10px;">Space for students gathering in the center</h5>
                        </div>
                        <div class="col-md-6 d-flex flex-column flex-sm-row align-items-center" style="padding: 15px; color: #243c4f;"">
                            <i class='bx bxs-parking bx-lg'></i>
                            <h5  style="padding: 0 10px;">Safe parking space for students</h5>
                        </div>
                        
                    </div>
                    
                
                    <!-- <div class="col-md-6" style="margin-top: 20px;">
                        <a href="" class="pill-button" style="background: #243c4f; text-decoration: none;">Book now</a>
                    </div>
             -->

                </div>
                <div class="col-md-7 d-none d-xl-block">
                    <img src="../static/img/hero.jpg" alt="" width="100%">
                </div>
            </div>
        </div>
    </section>

    <section style="margin-bottom: 3vh; background: #fbf9f9; padding: 8px 0;">
        <div class="container">
            
            <h2 style="font-size: 35px Mulish sans,serif; color: #040b11; padding: 10vh 0 20px 0;">
                Popular questions about the hostel
            </h2>
               

                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 15px;">
                        <div class="card-body" style="margin: 1vh 1vw;">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <h4 style="font-size: 22px Mulish, sans-serif; color: #235784;">Can I arrive at a hostel before payment?</h4>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                       
                                    </div>
                                  </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-bottom: 15px;">
                        <div class="card-body" style="margin: 1vh 1vw;">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        <h4 style="font-size: 22px Mulish, sans-serif; color: #235784;">How do I keep my things safe in a hostel?</h4>
                                    </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse show">
                                        <div class="accordion-body">
                                           
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-bottom: 15px;">
                        <div class="card-body" style="margin: 1vh 1vw;">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        <h4 style="font-size: 22px Mulish, sans-serif; color: #235784;">How many people are in a hostel room?</h4>
                                      </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse show">
                                      <div class="accordion-body">
                                        
                                      </div>
                                    </div>
                                  </div>
                            </div>  
                        </div>
                    </div>
                   
                </div>
                <a href="/faq">
                    <button class="pill">View FAQ page</button>
                </a>
        </div>
    </section>


    <section style="height: 50%;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="font-size: 35px Mulish sans,serif; color: #040b11; padding: 10vh 0 20px 0;">
                        Contact Us
                    </h1>
                    <p style="font-size: 20px OpenSans, sans-serif; border-left: 3px solid #243c4f; padding-left: 10px;">
                        Here is our contact information .We are here to serve you with the best accommodations.
                    </p>
                    
                    <div class="row" style="margin-top: 5vh;">
                        <div class="col-md-6 d-flex " style="color: #243c4f; margin: 1vh 0;">
                            <div style="width: 70px; height: 70px; background: #ddeaf6; margin-right: 10px; justify-content: center; border-radius: 8px; font-size: 30px;"><i class='bx bx-phone-call bx-md' style="padding: 20px 0 0 21px;"></i></div>
                            <div class="main d-flex flex-column">
                                <h6>Phone</h6>
                                <a href="" style="text-decoration: none; color: #040b11;">0596624245</a>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex " style="color: #243c4f; margin: 1vh 0;">
                            <div style="width: 70px; height: 70px; background: #ddeaf6; margin-right: 10px; justify-content: center; border-radius: 8px; font-size: 30px;"><i class='bx bx-envelope-open bx-md' style="padding: 20px 0 0 21px;"></i></div>
                            <div class="main d-flex flex-column">
                                <h6>Email</h6>
                                <a href="" style="text-decoration: none; color: #040b11;">eyiahvivian20@gmail.com</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex " style="color: #243c4f; margin: 1vh 0;">
                            <div style="width: 70px; height: 70px; background: #ddeaf6; margin-right: 10px; justify-content: center; border-radius: 8px; font-size: 30px;"><i class='bx bx-map-pin bx-md' style="padding: 20px 0 0 21px;"></i></div>
                            <div class="main d-flex flex-column">
                                <h6>Location</h6>
                                <a href="" style="text-decoration: none; color: #040b11;">Pronto Hostel</a>
                                <a href="" style="text-decoration: none; color: #040b11;">Miotso</a>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex " style="color: #243c4f; margin: 1vh 0;">
                            <div style="width: 70px; height: 70px; background: #ddeaf6; margin-right: 10px; justify-content: center; border-radius: 8px; font-size: 30px;"><i class='bx bx-time bx-md' style="padding: 20px 0 0 21px;"></i></div>
                            <div class="main d-flex flex-column">
                                <h6>Working Time</h6    >
                                <a href="" style="text-decoration: none; color: #040b11;">Everyday</a>
                                <a href="" style="text-decoration: none; color: #040b11;">9 am - 11 pm</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-7 d-none d-xl-block">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d15879.081963756615!2d0.08474267691761327!3d5.746147483369158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d5.758702899999999!2d0.0883842!4m5!1s0x1020877cc224e085%3A0xfdc1c9936ec3573b!2spronto%20hostel%20central%20university!3m2!1d5.733556999999999!2d0.10378699999999999!5e0!3m2!1sen!2sgh!4v1681270789790!5m2!1sen!2sgh" style="object-fit: contain;" width="700" height="450" style="border:0; padding-top: 2vh;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}