<!doctype html>
<html lang="en">

<head>
  <title>Pronto Hostel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{url_for("static", filename="img/logo.png")}}" rel="icon">

  <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="{{url_for("static", filename="vendor/aos/aos.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">
</head>

<body> 
 
  <nav style="margin: auto 3vh;" class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <div class="d-flex">
        <a class="navbar-brand d-flex" href="/" >
          <img src="../static/img/logo.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
          <h5 style="padding: 5px 0 0 5px; text-align: center; color: #243c4f;">Pronto Hostels</h5>
        </a>
        <!-- <a href="tel:0556037788">
          <button class="pill-button" style="color: #fff; background: #235784; padding: 10px 15px;">
            Contact Us
          </button>
        </a> -->
      </div>
      
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="">
        <span class="navbar-text" style="margin-left: auto;">
          <ul class="navbar-nav ml-auto" style="margin-left: auto;">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li style="margin-top: auto; margin-bottom: auto;">
              <button class="pill-button">Contact Us</button>
            </li>
          </ul>
        </span>
      </div> -->
    </div>
  </nav>
  <main>


    {% block body %}

    {% endblock %}
  </main>

  <footer class="site-footer" style="margin-top: 10vh;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!-- <h6>About</h6> -->
          <!-- <img src="../static/img/fav.png" alt=""> -->
          <a class="navbar-brand d-flex" href="#">
            <img src="../static/img/logo.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
            <h5 style="padding: 5px 0 0 5px; color: #fff;">Pronto Hostels</h5>
          </a>
          <p class="text-justify" style="margin-top: 2vh;">Making students life on campus easy by providing them with comfortable and best accommodations</p>
        </div>

        <div class="col-xs-4 col-md-2" style="margin-top: 2vh;">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a href="">FAQ</a></li>
            <li><a href="">Rooms</a></li>
          </ul>
        </div>
        
          <div class="col-xs-4 col-md-4" style="margin-top: 2vh;">
            <div class="content">
              <h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
            <div class="input-group" style="margin-top: 8px;">
                   <input type="email" class="form-control" placeholder="Enter your email">
                   <span class="input-group-btn">
                   <button class="btn" type="submit">Subscribe Now</button>
                   </span>
                    </div>
            </div>
          </div>
          
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#" style="color: #fff; font-weight: 800;">PrestoSolutions</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="bx bxl-facebook" style="color: #3b5998;"></i></a></li>
            <li><a class="twitter" href="#"><i class="bx bxl-twitter" style="color: #3b5998;"></i></a></li>
            <li><a class="dribbble" href="#"><i class="bx bxl-instagram" style="color: #ea4c89;"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>


<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>


<script src="{{url_for("static", filename="vendor/purecounter/purecounter_vanilla.js")}}"></script>
<script src="{{url_for("static", filename="vendor/aos/aos.js")}}"></script>
<script src="{{url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/glightbox/js/glightbox.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/swiper/swiper-bundle.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/php-email-form/validate.js")}}"></script>

<script src="{{url_for("static", filename="js/main.js")}}"></script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>