{% extends "layout.html" %}
{% block body %}

<section>
    <nav class="navbar navbar-expand-lg bg-light">

        <div class="container-md">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Room</li>
            </ol>
         <h1> <a class="navbar-brand" href="#">Rooms</a> </h1>  
          </nav>
        </div>
  
      </nav>
    
      <div class="container">
      <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="../static/img/hero.jpg" class="img-fluid " alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body" style=" padding: 0 3vw;"> 
                <div>
                    <h2 style="font-size: 18px Mulish sans,serif; color: #040b11; padding-top: 2vh;">
                       Standard One-in-a Room
                    </h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    .</p>
               
                <div>
                    <i class='bx bxs-user'>1 head</i> &ensp;
                    <i class='bx bxs-bed' >0 bunkbed</i>
                </div>
                <div class="d-flex justify-content-between" style="padding-top: 5vh;">
                      
                  <div class="input-group mb-4">
                      <span class="input-group-text"> GH₵</span>
                      <span class="input-group-text">1500.00</span>
                  </div> 
                  <button style="padding: 13px 19px;" class="pill">Book</button>


              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="card mb-3" style="max-width: 940px;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="../static/img/room5.jpg" class="img-fluid " alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body" style=" padding: 0 3vw;"> 
                  <div>
                      <h2 style="font-size: 18px Mulish sans,serif; color: #040b11; padding-top: 2vh;">
                         Standard Two-in-a Room
                      </h2>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                     </p>
                 
                  <div>
                      <i class='bx bxs-user'>2 heads</i> &ensp;
                      <i class='bx bxs-bed' >0 bunkbed</i>
                  </div>
                  <div class="d-flex justify-content-between" style="padding-top: 5vh;">
                      
                      <div class="input-group mb-4">
                          <span class="input-group-text"> GH₵</span>
                          <span class="input-group-text">1500.00</span>
                      </div> 
                      <button style="padding: 13px 19px;" class="pill">Book</button>

  
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="card mb-3" style="max-width: 940px;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="../static/img/room4.jpg" class="img-fluid " alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body" style=" padding: 0 3vw;"> 
                  <div>
                      <h2 style="font-size: 18px Mulish sans,serif; color: #040b11; padding-top: 2vh;">
                         Standard Four-in-a Room
                      </h2>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                 
                  <div>
                      <i class='bx bxs-user'>4 heads</i> &ensp;
                      <i class='bx bxs-bed' >2 bunkbeds</i>
                  </div>
                  <div class="d-flex justify-content-between" style="padding-top: 5vh;">
                      
                    <div class="input-group mb-4">
                        <span class="input-group-text"> GH₵</span>
                        <span class="input-group-text">1500.00</span>
                    </div> 
                    <button style="padding: 13px 19px;" class="pill">Book</button>


                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>


      
     
</section>

{% endblock %}